<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../sass/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
  <script defer src="../script/login.js"></script>
</head>




<body id="login-body">

  
  <div class="login-nav">
    <a class="active" href="./login.html">Login</a>
    <a id='link' href="../views/signin.html">Sign Up</a>
    <a id ='link' href="../views/home.html">Home</a>
  </div>


  <main id="main-holder">
    <h1 id="login-header">Login</h1>
    
    <div id="login-error-msg-holder">
      <p><%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
    </div>
    
    <form id="login-form" method="post" action="/login">
      <input type="text" name="username" id="usernameField" class="login-form-field" placeholder="Username">
      <input type="password" name="password" id="passwordField" class="login-form-field" placeholder="Password">
      <input type="submit" value="Login" id="login-form-submit" onclick="">
    </form>
  

  </main>
</body>

</html>