<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="../sass/main.css">
    <script src="../../app.js"></script>
</head>
<body id="search-body">


<div class="search-content">
    <div class="img-section">
        <div class="img-banner">
            <img src="../images/logo.png"/>
            Tome Rater
        </div>
        
       </div>

    
    <div class="search-right">

    <form action="/search" method="POST" id="search-form">
        <p class="search-form-title">Book Search</p>

        <div class="radlab">
            <label for="author" id="search-label">Author</label>
            <input type="radio"  class="search-select" name="authorsearch" onclick="radioCheck()">
            
            <label for="title" id="search-label">Title</label>
            <input type="radio"  class="search-select" name="titlesearch" onclick="radioCheck()">
            
            <label for="isbn" id="search-label">ISBN</label>
            <input type="radio" class="search-select" name = "isbnsearch" onclick="radioCheck()">
            
            <label for="subject" id="search-label">Subject</label>
            <input type = 'radio'  class="search-select" name = "subjectsearch" onclick="radioCheck()">
        </div>
        <input type="text" name="Answer" id="Answer" placeholder="Search"/>
        <input type="submit" name="submit" class="submit" value="Search">
    </form>

    <div class="search-nav">
        <a class="active" href="./search.html">Search</a>
        <a id = 'link' href="../views/login.html">Login</a>
        <a id='link' href="../views/home.html">Home</a>
      </div>
    </div>
</div>
</body>
</html>