/*home page*/

@import './variables';

.home-body {
    margin: 0;
    height: 100%;
}

.home-top-container{
    background-color: $backColor1;
    color: $textColor1;
    padding: 10px 5px 10px 5px; 
    height: 525px;
    padding: 1em 13em;
}

.home-header{
    display: flex;
    justify-content: space-between;
    padding-right: 20px; 
}

.main-header{
    color: $textColor1; 
    font-size: 48px;
    font-weight: 900;
    font-family: 'Vollkorn', serif;
}

.home-logo{
    font-size: 35px;
    font-weight: 700;
    font-family: 'Vollkorn', serif; 
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.home-logo img{
    height: 7vh; 
}

.home-top-links{
    text-decoration: underline  $underColor1;
    height: 30px; 
    font-size: 22px;
    font-weight: 700; 
    color: $textColor1; 
    font-family: 'Vollkorn', serif;
    margin-left: auto;
    list-style-type: none;
    display: flex;
    width: 35%;
    justify-content: space-around;
}

.login-link{
    color: $lightColor1; 
}

.home-website-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px; 
    padding: 1em 13em;

}

.left-about, .home-right-img{
    width: 400px; 
    height: 300px; 
    padding: 15px; 

}

.home-top-image{
    width: auto; 
    height: 350px;
    border:5px solid $lightColor1; 
}


.about-text{
    font-size: 18px;
    font-family: 'Vollkorn', serif;
    font-weight: 530; 
}

.home-top-sign-up{
    background-color: $backColor2;
    color: $lightColor1; 
    font-family: 'Vollkorn', serif;
    font-size: 15px; 
    border-radius: 5px;
    width: 100px; 
    height: 30px; 
}

.home-info-container{
    display: flex;
    flex-direction: row;
    height: 400px; 
}

.info-side{
    font-family: 'Vollkorn', serif;
    width: 70%;
    height: 100vh;
    margin: 50px;
    font-size: 22px;
    line-height: 2;
}

.home-photo-side{
    margin: 50px; 
    padding-right: 60px; 
}

.home-sign-up-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 350px; 
    padding: 1em 13em;
}

.sign-up-box-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    background-color: $backColor2;
    width: 1000px;
    height: 150px; 
    border-radius: 15px;
}

.call-to-action-header{
    font-size: 20px; 
    font-family: 'Vollkorn', serif;
    font-weight: 700;
    color: $textColor2; 
}

.call-to-action-statement{
    font-size: 18px;
    font-family: 'Vollkorn', serif;
    color: $textColor2; 
}

.bottom-button{
    background-color: $backColor2;
    color: $textColor2; 
    font-family: 'Vollkorn', serif;
    font-size: 20px; 
    border-radius: 5px;
    border-color: $textColor2;
    border-style: solid;
    width: 300px; 
    height: 50px; 
    font-weight: 800;
}

.home-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $backColor1; 
    height: 120px; 
    padding: 1em 13em;
}

.footer-text{
    color:$textColor1; 
    font-size: 18px; 
    font-family: 'Vollkorn', serif;
    font-weight: 600;
}

a:visited, a:hover, a:focus {
    text-decoration: none;
    color: $textColor1;
}