$backColor1: #d2a87d;
$backColor2: #9A774F; 
$textColor1: #644c33;
$textColor2: #F5D7BD;
$textColor3: #4b3723;  
$underColor1: #7f5539; 
$lightColor1: #fefae0;
$shadowColor: #000000;
$shadowColor2: #856440;  
$errorColor: #8a0000; 
$errorBackColor: #e58f8f; 
$loginColor: #3a3a3a; 
$inputFormColor: #eebd8d; 
$lightColor2: #ffedbb; 